# Importing Libraries

In [1]:
#importing libraries and data

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# Importing Data

In [2]:
#shortcut for importing data files
path = r'C:\\Users\\anaar\\OneDrive\\Documents\\World Happiness Report'

#importing the cvs 2015 - 2019
df_2015 = pd.read_csv(os.path.join(path, '2015.csv'))

df_2016 = pd.read_csv(os.path.join(path, '2016.csv'))

df_2017 = pd.read_csv(os.path.join(path, '2017.csv'))

df_2018 = pd.read_csv(os.path.join(path, '2018.csv'))

df_2019 = pd.read_csv(os.path.join(path, '2019.csv'))

In [3]:
df_2015.shape

(158, 12)

In [4]:
df_2016.shape

(157, 13)

In [5]:
df_2017.shape

(155, 12)

In [6]:
df_2018.shape

(156, 9)

In [7]:
df_2019.shape

(156, 9)

In [8]:
df_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [9]:
df_2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [10]:
df_2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [11]:
df_2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [12]:
df_2018.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [13]:
df_2019.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [14]:
df_2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [15]:
# Create empty sets to store unique country lists
country_sets = []

# Iterate over each DataFrame
for df in [df_2015, df_2016, df_2017, df_2018, df_2019]:
    # Print the columns of the DataFrame for debugging
    print("Columns:", df.columns)
    
    # Check if the column name is 'Country'
    if 'Country' in df.columns:
        country_column_name = 'Country'
    elif 'Country or region' in df.columns:  # Check for alternate column name
        country_column_name = 'Country or region'
    else:
        raise ValueError("Country column not found in DataFrame")
    
    # Get unique countries for each DataFrame
    country_set = set(df[country_column_name])
    
    # Add to the list of sets
    country_sets.append(country_set)

# Initialize a dictionary to store missing or different countries
diff_countries = {}

# Iterate over pairs of consecutive DataFrames
for i in range(len(country_sets) - 1):
    # Find the difference between consecutive sets
    diff = country_sets[i] - country_sets[i+1]
    
    # Store the difference in the dictionary
    diff_countries[f'{i+2015}-{i+1+2015}'] = diff

# Print the results
for key, value in diff_countries.items():
    print(f"Difference between {key}: {len(value)} countries")
    print(value)

Columns: Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')
Columns: Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')
Columns: Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')
Columns: Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')
Columns: Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')
Difference between 2015-2016: 7 countries
{'Somaliland region', 'Djibouti', 'Oman', 'Mozambique', 'Lesotho', 'Central African Republic', 'Swaziland'}
Difference between 2016-2017: 7 countries
{'Comoros', 'Suriname', 'Somaliland Region', 'Taiwan', 'Laos', 'Puerto Rico', 'Hong Kong'}
Difference between 2017-2018: 4 countries
{'Taiwan Province of China', 'North Cyprus', 'Trinidad and Tobago', 'Hong Kong S.A.R., China'}
Difference between 2018-2019: 4 countries
{'Sudan', 'Belize', 'Angola', 'Macedonia'}

# Consistency Checks

In [16]:
# Check for missing values in df_2015
missing_values_2015 = df_2015.isnull().sum()

# Display the count of missing values for each column
print("Missing values in df_2015:")
print(missing_values_2015)

Missing values in df_2015:
Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Standard Error                   0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [17]:
# Check for missing values in df_2016
missing_values_2016 = df_2015.isnull().sum()

# Display the count of missing values for each column
print("Missing values in df_2016:")
print(missing_values_2016)

Missing values in df_2016:
Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Standard Error                   0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [18]:
# Check for missing values in df_2017
missing_values_2017 = df_2015.isnull().sum()

# Display the count of missing values for each column
print("Missing values in df_2017:")
print(missing_values_2017)

Missing values in df_2017:
Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Standard Error                   0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [19]:
# Check for missing values in df_2018
missing_values_2018 = df_2018.isnull().sum()

# Display the count of missing values for each column
print("Missing values in df_2018:")
print(missing_values_2018)

Missing values in df_2018:
Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       1
dtype: int64

In [20]:
# Check for missing values in df_2019
missing_values_2019 = df_2019.isnull().sum()

# Display the count of missing values for each column
print("Missing values in df_2019:")
print(missing_values_2019)

Missing values in df_2019:
Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

In [21]:
# Check for "NA" or "N/A" values in df_2015
na_values_count_2015 = df_2015.apply(lambda x: x.astype(str).str.contains('NA|N/A').sum())

# Display the count of "NA" or "N/A" values for each column
print("Count of 'NA' or 'N/A' values in df_2015:")
print(na_values_count_2015)

Count of 'NA' or 'N/A' values in df_2015:
Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Standard Error                   0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [22]:
# Check for "NA" or "N/A" values in df_2016
na_values_count_2016 = df_2016.apply(lambda x: x.astype(str).str.contains('NA|N/A').sum())

# Display the count of "NA" or "N/A" values for each column
print("Count of 'NA' or 'N/A' values in df_2016:")
print(na_values_count_2016)

Count of 'NA' or 'N/A' values in df_2016:
Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Lower Confidence Interval        0
Upper Confidence Interval        0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [23]:
# Check for "NA" or "N/A" values in df_2017
na_values_count_2017 = df_2017.apply(lambda x: x.astype(str).str.contains('NA|N/A').sum())

# Display the count of "NA" or "N/A" values for each column
print("Count of 'NA' or 'N/A' values in df_2017:")
print(na_values_count_2017)

Count of 'NA' or 'N/A' values in df_2017:
Country                          0
Happiness.Rank                   0
Happiness.Score                  0
Whisker.high                     0
Whisker.low                      0
Economy..GDP.per.Capita.         0
Family                           0
Health..Life.Expectancy.         0
Freedom                          0
Generosity                       0
Trust..Government.Corruption.    0
Dystopia.Residual                0
dtype: int64

In [24]:
# Check for "NA" or "N/A" values in df_2018
na_values_count_2018 = df_2018.apply(lambda x: x.astype(str).str.contains('NA|N/A').sum())

# Display the count of "NA" or "N/A" values for each column
print("Count of 'NA' or 'N/A' values in df_2018:")
print(na_values_count_2018)

Count of 'NA' or 'N/A' values in df_2018:
Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

In [25]:
# Check for "NA" or "N/A" values in df_2019
na_values_count_2019 = df_2019.apply(lambda x: x.astype(str).str.contains('NA|N/A').sum())

# Display the count of "NA" or "N/A" values for each column
print("Count of 'NA' or 'N/A' values in df_2019:")
print(na_values_count_2019)

Count of 'NA' or 'N/A' values in df_2019:
Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

In [26]:
# Check for duplicates in df_2015
duplicates_2015 = df_2015.duplicated().sum()
print("Duplicates in df_2015:", duplicates_2015)

# Check for duplicates in df_2016
duplicates_2016 = df_2016.duplicated().sum()
print("Duplicates in df_2016:", duplicates_2016)

# Check for duplicates in df_2017
duplicates_2017 = df_2017.duplicated().sum()
print("Duplicates in df_2017:", duplicates_2017)

# Check for duplicates in df_2018
duplicates_2018 = df_2018.duplicated().sum()
print("Duplicates in df_2018:", duplicates_2018)

# Check for duplicates in df_2019
duplicates_2019 = df_2019.duplicated().sum()
print("Duplicates in df_2019:", duplicates_2019)

Duplicates in df_2015: 0
Duplicates in df_2016: 0
Duplicates in df_2017: 0
Duplicates in df_2018: 0
Duplicates in df_2019: 0

In [27]:
# Check for mixed data types in df_2015
mixed_types_2015 = df_2015.apply(lambda x: len(set(map(type, x))) > 1)
print("Mixed data types in df_2015:")
print(mixed_types_2015.any())

# Check for mixed data types in df_2016
mixed_types_2016 = df_2016.apply(lambda x: len(set(map(type, x))) > 1)
print("Mixed data types in df_2016:")
print(mixed_types_2016.any())

# Check for mixed data types in df_2017
mixed_types_2017 = df_2017.apply(lambda x: len(set(map(type, x))) > 1)
print("Mixed data types in df_2017:")
print(mixed_types_2017.any())

# Check for mixed data types in df_2018
mixed_types_2018 = df_2018.apply(lambda x: len(set(map(type, x))) > 1)
print("Mixed data types in df_2018:")
print(mixed_types_2018.any())

# Check for mixed data types in df_2019
mixed_types_2019 = df_2019.apply(lambda x: len(set(map(type, x))) > 1)
print("Mixed data types in df_2019:")
print(mixed_types_2019.any())

Mixed data types in df_2015:
False
Mixed data types in df_2016:
False
Mixed data types in df_2017:
False
Mixed data types in df_2018:
False
Mixed data types in df_2019:
False

In [28]:
#descriptive statistics
df_2015.describe ()

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,79.493671,5.375734,0.047885,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296,2.098977
std,45.754363,1.145010,0.017146,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685,0.553550
min,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,40.250000,4.526000,0.037268,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553,1.759410
50%,79.500000,5.232500,0.043940,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130,2.095415
75%,118.750000,6.243750,0.052300,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883,2.462415
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

In [29]:
#descriptive statistics
df_2016.describe ()

,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000
mean,78.980892,5.382185,5.282395,5.481975,0.953880,0.793621,0.557619,0.370994,0.137624,0.242635,2.325807
std,45.466030,1.141674,1.148043,1.136493,0.412595,0.266706,0.229349,0.145507,0.111038,0.133756,0.542220
min,1.000000,2.905000,2.732000,3.078000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.817890
25%,40.000000,4.404000,4.327000,4.465000,0.670240,0.641840,0.382910,0.257480,0.061260,0.154570,2.031710
50%,79.000000,5.314000,5.237000,5.419000,1.027800,0.841420,0.596590,0.397470,0.105470,0.222450,2.290740
75%,118.000000,6.269000,6.154000,6.434000,1.279640,1.021520,0.729930,0.484530,0.175540,0.311850,2.664650
max,157.000000,7.526000,7.460000,7.669000,1.824270,1.183260,0.952770,0.608480,0.505210,0.819710,3.837720

In [30]:
#descriptive statistics
df_2017.describe ()

,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
count,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000
mean,78.000000,5.354019,5.452326,5.255713,0.984718,1.188898,0.551341,0.408786,0.246883,0.123120,1.850238
std,44.888751,1.131230,1.118542,1.145030,0.420793,0.287263,0.237073,0.149997,0.134780,0.101661,0.500028
min,1.000000,2.693000,2.864884,2.521116,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.377914
25%,39.500000,4.505500,4.608172,4.374955,0.663371,1.042635,0.369866,0.303677,0.154106,0.057271,1.591291
50%,78.000000,5.279000,5.370032,5.193152,1.064578,1.253918,0.606042,0.437454,0.231538,0.089848,1.832910
75%,116.500000,6.101500,6.194600,6.006527,1.318027,1.414316,0.723008,0.516561,0.323762,0.153296,2.144654
max,155.000000,7.537000,7.622030,7.479556,1.870766,1.610574,0.949492,0.658249,0.838075,0.464308,3.117485

In [31]:
#descriptive statistics
df_2018.describe ()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000
mean,78.500000,5.375917,0.891449,1.213237,0.597346,0.454506,0.181006,0.112000
std,45.177428,1.119506,0.391921,0.302372,0.247579,0.162424,0.098471,0.096492
min,1.000000,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.453750,0.616250,1.066750,0.422250,0.356000,0.109500,0.051000
50%,78.500000,5.378000,0.949500,1.255000,0.644000,0.487000,0.174000,0.082000
75%,117.250000,6.168500,1.197750,1.463000,0.777250,0.578500,0.239000,0.137000
max,156.000000,7.632000,2.096000,1.644000,1.030000,0.724000,0.598000,0.457000

In [32]:
#descriptive statistics
df_2019.describe ()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,78.500000,5.407096,0.905147,1.208814,0.725244,0.392571,0.184846,0.110603
std,45.177428,1.113120,0.398389,0.299191,0.242124,0.143289,0.095254,0.094538
min,1.000000,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.544500,0.602750,1.055750,0.547750,0.308000,0.108750,0.047000
50%,78.500000,5.379500,0.960000,1.271500,0.789000,0.417000,0.177500,0.085500
75%,117.250000,6.184500,1.232500,1.452500,0.881750,0.507250,0.248250,0.141250
max,156.000000,7.769000,1.684000,1.624000,1.141000,0.631000,0.566000,0.453000

# Data Wrangling df_2015

In [33]:
df_2015.head(15)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
5,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955
6,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570
7,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119
8,New Zealand,Australia and New Zealand,9,7.286,0.03371,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2.26425
9,Australia,Australia and New Zealand,10,7.284,0.04083,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2.26646
10,Israel,Middle East and Northern Africa,11,7.278,0.03470,1.22857,1.22393,0.91387,0.41319,0.07785,0.33172,3.08854
11,Costa Rica,Latin America and Caribbean,12,7.226,0.04454,0.95578,1.23788,0.86027,0.63376,0.10583,0.25497,3.17728
12,Austria,Western Europe,13,7.200,0.03751,1.33723,1.29704,0.89042,0.62433,0.18676,0.33088,2.53320
13,Mexico,Latin America and Caribbean,14,7.187,0.04176,1.02054,0.91451,0.81444,0.48181,0.21312,0.14074,3.60214
14,United States,North America,15,7.119,0.03839,1.39451,1.24711,0.86179,0.54604,0.15890,0.40105,2.51011

In [34]:
#Dropping columns
df_2015 = df_2015.drop(['Standard Error', 'Dystopia Residual'], axis=1)

In [35]:
#renaming columns 
df_2015 = df_2015.rename(columns={
    'Economy (GDP per Capita)': 'GDP per Capita',
    'Family': 'Social Support',
    'Health (Life Expectancy)': 'Healthy Life Expectancy',
    'Freedom': 'Freedom to Make Life Choices',
    'Trust (Government Corruption)': 'Perceptions of Corruption'
})

In [36]:
df_2015.head(15)

,Country,Region,Happiness Rank,Happiness Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom to Make Life Choices,Perceptions of Corruption,Generosity
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811
5,Finland,Western Europe,6,7.406,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351
6,Netherlands,Western Europe,7,7.378,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610
7,Sweden,Western Europe,8,7.364,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262
8,New Zealand,Australia and New Zealand,9,7.286,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501
9,Australia,Australia and New Zealand,10,7.284,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562
10,Israel,Middle East and Northern Africa,11,7.278,1.22857,1.22393,0.91387,0.41319,0.07785,0.33172
11,Costa Rica,Latin America and Caribbean,12,7.226,0.95578,1.23788,0.86027,0.63376,0.10583,0.25497
12,Austria,Western Europe,13,7.200,1.33723,1.29704,0.89042,0.62433,0.18676,0.33088
13,Mexico,Latin America and Caribbean,14,7.187,1.02054,0.91451,0.81444,0.48181,0.21312,0.14074
14,United States,North America,15,7.119,1.39451,1.24711,0.86179,0.54604,0.15890,0.40105

# Data Wrangling df_2016

In [37]:
df_2016.head(15)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596
5,Canada,North America,6,7.404,7.335,7.473,1.44015,1.09610,0.82760,0.57370,0.31329,0.44834,2.70485
6,Netherlands,Western Europe,7,7.339,7.284,7.394,1.46468,1.02912,0.81231,0.55211,0.29927,0.47416,2.70749
7,New Zealand,Australia and New Zealand,8,7.334,7.264,7.404,1.36066,1.17278,0.83096,0.58147,0.41904,0.49401,2.47553
8,Australia,Australia and New Zealand,9,7.313,7.241,7.385,1.44443,1.10476,0.85120,0.56837,0.32331,0.47407,2.54650
9,Sweden,Western Europe,10,7.291,7.227,7.355,1.45181,1.08764,0.83121,0.58218,0.40867,0.38254,2.54734
10,Israel,Middle East and Northern Africa,11,7.267,7.199,7.335,1.33766,0.99537,0.84917,0.36432,0.08728,0.32288,3.31029
11,Austria,Western Europe,12,7.119,7.045,7.193,1.45038,1.08383,0.80565,0.54355,0.21348,0.32865,2.69343
12,United States,North America,13,7.104,7.020,7.188,1.50796,1.04782,0.77900,0.48163,0.14868,0.41077,2.72782
13,Costa Rica,Latin America and Caribbean,14,7.087,6.999,7.175,1.06879,1.02152,0.76146,0.55225,0.10547,0.22553,3.35168
14,Puerto Rico,Latin America and Caribbean,15,7.039,6.794,7.284,1.35943,1.08113,0.77758,0.46823,0.12275,0.22202,3.00760

In [38]:
#Dropping columns
df_2016 = df_2016.drop(['Lower Confidence Interval', 'Upper Confidence Interval', 'Dystopia Residual'], axis=1)

In [39]:
#renaming columns 
df_2016 = df_2016.rename(columns={
    'Economy (GDP per Capita)': 'GDP per Capita',
    'Family': 'Social Support',
    'Health (Life Expectancy)': 'Healthy Life Expectancy',
    'Freedom': 'Freedom to Make Life Choices',
    'Trust (Government Corruption)': 'Perceptions of Corruption'
})

In [40]:
df_2016.head(15)

,Country,Region,Happiness Rank,Happiness Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom to Make Life Choices,Perceptions of Corruption,Generosity
0,Denmark,Western Europe,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,Switzerland,Western Europe,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,Iceland,Western Europe,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,Norway,Western Europe,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,Finland,Western Europe,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492
5,Canada,North America,6,7.404,1.44015,1.09610,0.82760,0.57370,0.31329,0.44834
6,Netherlands,Western Europe,7,7.339,1.46468,1.02912,0.81231,0.55211,0.29927,0.47416
7,New Zealand,Australia and New Zealand,8,7.334,1.36066,1.17278,0.83096,0.58147,0.41904,0.49401
8,Australia,Australia and New Zealand,9,7.313,1.44443,1.10476,0.85120,0.56837,0.32331,0.47407
9,Sweden,Western Europe,10,7.291,1.45181,1.08764,0.83121,0.58218,0.40867,0.38254
10,Israel,Middle East and Northern Africa,11,7.267,1.33766,0.99537,0.84917,0.36432,0.08728,0.32288
11,Austria,Western Europe,12,7.119,1.45038,1.08383,0.80565,0.54355,0.21348,0.32865
12,United States,North America,13,7.104,1.50796,1.04782,0.77900,0.48163,0.14868,0.41077
13,Costa Rica,Latin America and Caribbean,14,7.087,1.06879,1.02152,0.76146,0.55225,0.10547,0.22553
14,Puerto Rico,Latin America and Caribbean,15,7.039,1.35943,1.08113,0.77758,0.46823,0.12275,0.22202

In [41]:
# Group the data by the 'Region' column and aggregate the 'Country' column
countries_by_region = df_2016.groupby('Region')['Country'].apply(list)

# Print the countries in each region
for region, countries in countries_by_region.items():
    print(f"Region: {region}")
    print("Countries:")
    for country in countries:
        print(country)
    print()

Region: Australia and New Zealand
Countries:
New Zealand
Australia

Region: Central and Eastern Europe
Countries:
Czech Republic
Slovakia
Uzbekistan
Kazakhstan
Moldova
Russia
Poland
Lithuania
Belarus
Slovenia
Turkmenistan
Latvia
Romania
Estonia
Croatia
Kosovo
Azerbaijan
Kyrgyzstan
Serbia
Bosnia and Herzegovina
Montenegro
Hungary
Macedonia
Tajikistan
Albania
Armenia
Ukraine
Georgia
Bulgaria

Region: Eastern Asia
Countries:
Taiwan
Japan
South Korea
Hong Kong
China
Mongolia

Region: Latin America and Caribbean
Countries:
Costa Rica
Puerto Rico
Brazil
Mexico
Chile
Panama
Argentina
Uruguay
Colombia
Guatemala
Suriname
Trinidad and Tobago
Venezuela
El Salvador
Nicaragua
Ecuador
Belize
Bolivia
Peru
Paraguay
Jamaica
Dominican Republic
Honduras
Haiti

Region: Middle East and Northern Africa
Countries:
Israel
United Arab Emirates
Saudi Arabia
Qatar
Algeria
Kuwait
Bahrain
Libya
Turkey
Jordan
Morocco
Lebanon
Tunisia
Iran
Palestinian Territories
Iraq
Egypt
Yemen
Syria

Region: North America
Countries:
Canada
United States

Region: Southeastern Asia
Countries:
Singapore
Thailand
Malaysia
Indonesia
Philippines
Vietnam
Laos
Myanmar
Cambodia

Region: Southern Asia
Countries:
Bhutan
Pakistan
Nepal
Bangladesh
Sri Lanka
India
Afghanistan

Region: Sub-Saharan Africa
Countries:
Mauritius
Somalia
Somaliland Region
Nigeria
Zambia
Sierra Leone
Namibia
Cameroon
Ethiopia
South Africa
Kenya
Ghana
Congo (Kinshasa)
Congo (Brazzaville)
Senegal
Mauritania
Zimbabwe
Malawi
Sudan
Gabon
Mali
Botswana
Comoros
Ivory Coast
Angola
Niger
South Sudan
Chad
Burkina Faso
Uganda
Madagascar
Tanzania
Liberia
Guinea
Rwanda
Benin
Togo
Burundi

Region: Western Europe
Countries:
Denmark
Switzerland
Iceland
Norway
Finland
Netherlands
Sweden
Austria
Germany
Belgium
Ireland
Luxembourg
United Kingdom
Malta
France
Spain
Italy
North Cyprus
Cyprus
Portugal
Greece

# Data Wrangling df_2017

In [42]:
df_2017.head(15)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
5,Netherlands,6,7.377,7.427426,7.326574,1.503945,1.428939,0.810696,0.585384,0.470490,0.282662,2.294804
6,Canada,7,7.316,7.384403,7.247597,1.479204,1.481349,0.834558,0.611101,0.435540,0.287372,2.187264
7,New Zealand,8,7.314,7.379510,7.248490,1.405706,1.548195,0.816760,0.614062,0.500005,0.382817,2.046456
8,Sweden,9,7.284,7.344095,7.223905,1.494387,1.478162,0.830875,0.612924,0.385399,0.384399,2.097538
9,Australia,10,7.284,7.356651,7.211349,1.484415,1.510042,0.843887,0.601607,0.477699,0.301184,2.065211
10,Israel,11,7.213,7.279853,7.146146,1.375382,1.376290,0.838404,0.405989,0.330083,0.085242,2.801757
11,Costa Rica,12,7.079,7.168112,6.989888,1.109706,1.416404,0.759509,0.580132,0.214613,0.100107,2.898639
12,Austria,13,7.006,7.070670,6.941330,1.487097,1.459945,0.815328,0.567766,0.316472,0.221060,2.138506
13,United States,14,6.993,7.074657,6.911343,1.546259,1.419921,0.774287,0.505741,0.392579,0.135639,2.218113
14,Ireland,15,6.977,7.043352,6.910649,1.535707,1.558231,0.809783,0.573110,0.427858,0.298388,1.773869

In [43]:
#Dropping columns
df_2017 = df_2017.drop(['Whisker.high', 'Whisker.low', 'Dystopia.Residual'], axis=1)

In [44]:
#renaming columns 
df_2017 = df_2017.rename(columns={
    'Happiness.Rank': 'Happiness Rank',
    'Happiness.Score': 'Happiness Score',
    'Economy..GDP.per.Capita.': 'GDP per Capita',
    'Family': 'Social Support',
    'Health..Life.Expectancy.': 'Healthy Life Expectancy',
    'Freedom': 'Freedom to Make Life Choices',
    'Trust..Government.Corruption.': 'Perceptions of Corruption'
})

In [45]:
df_2017.head(15)

,Country,Happiness Rank,Happiness Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom to Make Life Choices,Generosity,Perceptions of Corruption
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612
5,Netherlands,6,7.377,1.503945,1.428939,0.810696,0.585384,0.470490,0.282662
6,Canada,7,7.316,1.479204,1.481349,0.834558,0.611101,0.435540,0.287372
7,New Zealand,8,7.314,1.405706,1.548195,0.816760,0.614062,0.500005,0.382817
8,Sweden,9,7.284,1.494387,1.478162,0.830875,0.612924,0.385399,0.384399
9,Australia,10,7.284,1.484415,1.510042,0.843887,0.601607,0.477699,0.301184
10,Israel,11,7.213,1.375382,1.376290,0.838404,0.405989,0.330083,0.085242
11,Costa Rica,12,7.079,1.109706,1.416404,0.759509,0.580132,0.214613,0.100107
12,Austria,13,7.006,1.487097,1.459945,0.815328,0.567766,0.316472,0.221060
13,United States,14,6.993,1.546259,1.419921,0.774287,0.505741,0.392579,0.135639
14,Ireland,15,6.977,1.535707,1.558231,0.809783,0.573110,0.427858,0.298388

In [46]:
# Group the data by the 'Region' column in df_2016 and aggregate the 'Country' column
countries_by_region = df_2016.groupby('Region')['Country'].apply(list)

# Create a mapping dictionary from country to region
country_to_region = {}
for region, countries in countries_by_region.items():
    for country in countries:
        country_to_region[country] = region

# Add additional countries and their assigned regions
additional_countries = {
    'Taiwan Province of China': 'Asia',
    'Hong Kong S.A.R., China': 'Asia',
    'Mozambique': 'Africa',
    'Lesotho': 'Africa',
    'Central African Republic': 'Africa'
}
country_to_region.update(additional_countries)

# Add the 'Region' column to df_2017 using the updated mapping
df_2017['Region'] = df_2017['Country'].map(country_to_region)

In [47]:
df_2017.head(15)

,Country,Happiness Rank,Happiness Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom to Make Life Choices,Generosity,Perceptions of Corruption,Region
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,Western Europe
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,Western Europe
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,Western Europe
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,Western Europe
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,Western Europe
5,Netherlands,6,7.377,1.503945,1.428939,0.810696,0.585384,0.470490,0.282662,Western Europe
6,Canada,7,7.316,1.479204,1.481349,0.834558,0.611101,0.435540,0.287372,North America
7,New Zealand,8,7.314,1.405706,1.548195,0.816760,0.614062,0.500005,0.382817,Australia and New Zealand
8,Sweden,9,7.284,1.494387,1.478162,0.830875,0.612924,0.385399,0.384399,Western Europe
9,Australia,10,7.284,1.484415,1.510042,0.843887,0.601607,0.477699,0.301184,Australia and New Zealand
10,Israel,11,7.213,1.375382,1.376290,0.838404,0.405989,0.330083,0.085242,Middle East and Northern Africa
11,Costa Rica,12,7.079,1.109706,1.416404,0.759509,0.580132,0.214613,0.100107,Latin America and Caribbean
12,Austria,13,7.006,1.487097,1.459945,0.815328,0.567766,0.316472,0.221060,Western Europe
13,United States,14,6.993,1.546259,1.419921,0.774287,0.505741,0.392579,0.135639,North America
14,Ireland,15,6.977,1.535707,1.558231,0.809783,0.573110,0.427858,0.298388,Western Europe

In [48]:
df_2017.tail(15)

,Country,Happiness Rank,Happiness Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom to Make Life Choices,Generosity,Perceptions of Corruption,Region
140,Afghanistan,141,3.794,0.401477,0.581543,0.180747,0.106180,0.311871,0.061158,Southern Asia
141,Botswana,142,3.766,1.122094,1.221555,0.341756,0.505196,0.099348,0.098583,Sub-Saharan Africa
142,Benin,143,3.657,0.431085,0.435300,0.209930,0.425963,0.207948,0.060929,Sub-Saharan Africa
143,Madagascar,144,3.644,0.305809,0.913020,0.375223,0.189197,0.208733,0.067232,Sub-Saharan Africa
144,Haiti,145,3.603,0.368610,0.640450,0.277321,0.030370,0.489204,0.099872,Latin America and Caribbean
145,Yemen,146,3.593,0.591683,0.935382,0.310081,0.249464,0.104125,0.056767,Middle East and Northern Africa
146,South Sudan,147,3.591,0.397249,0.601323,0.163486,0.147062,0.285671,0.116794,Sub-Saharan Africa
147,Liberia,148,3.533,0.119042,0.872118,0.229918,0.332881,0.266550,0.038948,Sub-Saharan Africa
148,Guinea,149,3.507,0.244550,0.791245,0.194129,0.348588,0.264815,0.110938,Sub-Saharan Africa
149,Togo,150,3.495,0.305445,0.431883,0.247106,0.380426,0.196896,0.095665,Sub-Saharan Africa
150,Rwanda,151,3.471,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,Sub-Saharan Africa
151,Syria,152,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,Middle East and Northern Africa
152,Tanzania,153,3.349,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,Sub-Saharan Africa
153,Burundi,154,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,Sub-Saharan Africa
154,Central African Republic,155,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,Africa

In [49]:
# Filter the DataFrame to select rows where the 'Region' column is missing
countries_without_region = df_2017[df_2017['Region'].isnull()]['Country']

# Print the countries without a region assigned
print("Countries without a region assigned in df_2017:")
print(countries_without_region)

Countries without a region assigned in df_2017:
Series([], Name: Country, dtype: object)

# Data Wrangling df_2018

In [50]:
df_2018.head(15)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
5,6,Netherlands,7.441,1.361,1.488,0.878,0.638,0.333,0.295
6,7,Canada,7.328,1.330,1.532,0.896,0.653,0.321,0.291
7,8,New Zealand,7.324,1.268,1.601,0.876,0.669,0.365,0.389
8,9,Sweden,7.314,1.355,1.501,0.913,0.659,0.285,0.383
9,10,Australia,7.272,1.340,1.573,0.910,0.647,0.361,0.302
10,11,United Kingdom,7.190,1.244,1.433,0.888,0.464,0.262,0.082
11,12,Austria,7.139,1.341,1.504,0.891,0.617,0.242,0.224
12,13,Costa Rica,7.072,1.010,1.459,0.817,0.632,0.143,0.101
13,14,Ireland,6.977,1.448,1.583,0.876,0.614,0.307,0.306
14,15,Germany,6.965,1.340,1.474,0.861,0.586,0.273,0.280

In [51]:
#renaming columns 
df_2018 = df_2018.rename(columns={
    'Overall rank': 'Happiness Rank',
    'Country or region': 'Country',
    'Score': 'Happiness Score',
})

The country or region column is only for the countries, therefore I will add a 'Region' columns as well.

In [52]:
# Group the data by the 'Region' column in df_2017 and aggregate the 'Country' column
countries_by_region2 = df_2017.groupby('Region')['Country'].apply(list)

# Create a mapping dictionary from country to region
country_to_region2 = {}
for region, countries in countries_by_region2.items():
    for country in countries:
        country_to_region2[country] = region

# Add additional countries and their assigned regions
additional_countries = {
    'Trinidad & Tobago': 'Latin America and Caribbean',
    'Hong Kong': 'Asia',
    'Taiwan': 'Asia',
    'Northern Cyprus': 'Central and Eastern Europe',
    'Laos': 'Asia'
}
country_to_region2.update(additional_countries)

# Add the 'Region' column to df_2018 using the updated mapping
df_2018['Region'] = df_2018['Country'].map(country_to_region2)

In [53]:
df_2018.head(30)

,Happiness Rank,Country,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Region
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,Western Europe
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,Western Europe
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,Western Europe
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,Western Europe
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,Western Europe
5,6,Netherlands,7.441,1.361,1.488,0.878,0.638,0.333,0.295,Western Europe
6,7,Canada,7.328,1.330,1.532,0.896,0.653,0.321,0.291,North America
7,8,New Zealand,7.324,1.268,1.601,0.876,0.669,0.365,0.389,Australia and New Zealand
8,9,Sweden,7.314,1.355,1.501,0.913,0.659,0.285,0.383,Western Europe
9,10,Australia,7.272,1.340,1.573,0.910,0.647,0.361,0.302,Australia and New Zealand
10,11,United Kingdom,7.190,1.244,1.433,0.888,0.464,0.262,0.082,Western Europe
11,12,Austria,7.139,1.341,1.504,0.891,0.617,0.242,0.224,Western Europe
12,13,Costa Rica,7.072,1.010,1.459,0.817,0.632,0.143,0.101,Latin America and Caribbean
13,14,Ireland,6.977,1.448,1.583,0.876,0.614,0.307,0.306,Western Europe
14,15,Germany,6.965,1.340,1.474,0.861,0.586,0.273,0.280,Western Europe
15,16,Belgium,6.927,1.324,1.483,0.894,0.583,0.188,0.240,Western Europe
16,17,Luxembourg,6.910,1.576,1.520,0.896,0.632,0.196,0.321,Western Europe
17,18,United States,6.886,1.398,1.471,0.819,0.547,0.291,0.133,North America
18,19,Israel,6.814,1.301,1.559,0.883,0.533,0.354,0.272,Middle East and Northern Africa
19,20,United Arab Emirates,6.774,2.096,0.776,0.670,0.284,0.186,NaN,Middle East and Northern Africa
20,21,Czech Republic,6.711,1.233,1.489,0.854,0.543,0.064,0.034,Central and Eastern Europe
21,22,Malta,6.627,1.270,1.525,0.884,0.645,0.376,0.142,Western Europe
22,23,France,6.489,1.293,1.466,0.908,0.520,0.098,0.176,Western Europe
23,24,Mexico,6.488,1.038,1.252,0.761,0.479,0.069,0.095,Latin America and Caribbean
24,25,Chile,6.476,1.131,1.331,0.808,0.431,0.197,0.061,Latin America and Caribbean
25,26,Taiwan,6.441,1.365,1.436,0.857,0.418,0.151,0.078,Asia
26,27,Panama,6.430,1.112,1.438,0.759,0.597,0.125,0.063,Latin America and Caribbean
27,28,Brazil,6.419,0.986,1.474,0.675,0.493,0.110,0.088,Latin America and Caribbean
28,29,Argentina,6.388,1.073,1.468,0.744,0.570,0.062,0.054,Latin America and Caribbean
29,30,Guatemala,6.382,0.781,1.268,0.608,0.604,0.179,0.071,Latin America and Caribbean

In [54]:
# Filter the DataFrame to select rows where the 'Region' column is missing
countries_without_region = df_2018[df_2018['Region'].isnull()]['Country']

# Print the countries without a region assigned
print("Countries without a region assigned in df_2018:")
print(countries_without_region)

Countries without a region assigned in df_2018:
Series([], Name: Country, dtype: object)

In [55]:
# Move the 'Region' column next to the 'Country' column
df_2018.insert(loc=df_2018.columns.get_loc('Country') + 1, column='Region', value=df_2018.pop('Region'))

# Move the 'Happiness Rank' column next to the 'Region' column
df_2018.insert(loc=df_2018.columns.get_loc('Region') + 1, column='Happiness Rank', value=df_2018.pop('Happiness Rank'))

In [56]:
df_2018.head()

,Country,Region,Happiness Score,Happiness Rank,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,Western Europe,7.632,1,1.305,1.592,0.874,0.681,0.202,0.393
1,Norway,Western Europe,7.594,2,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,Western Europe,7.555,3,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,Western Europe,7.495,4,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,Western Europe,7.487,5,1.420,1.549,0.927,0.660,0.256,0.357

# Data Wrangling df_2019

In [57]:
df_2019.head(15)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343
6,7,Sweden,7.343,1.387,1.487,1.009,0.574,0.267,0.373
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380
8,9,Canada,7.278,1.365,1.505,1.039,0.584,0.285,0.308
9,10,Austria,7.246,1.376,1.475,1.016,0.532,0.244,0.226
10,11,Australia,7.228,1.372,1.548,1.036,0.557,0.332,0.290
11,12,Costa Rica,7.167,1.034,1.441,0.963,0.558,0.144,0.093
12,13,Israel,7.139,1.276,1.455,1.029,0.371,0.261,0.082
13,14,Luxembourg,7.090,1.609,1.479,1.012,0.526,0.194,0.316
14,15,United Kingdom,7.054,1.333,1.538,0.996,0.450,0.348,0.278

In [58]:
#renaming columns 
df_2019 = df_2019.rename(columns={
    'Country or region': 'Country',
    'Overall rank': 'Happiness Rank',
    'Score': 'Happiness Score',
})

The country or region column is only for the countries, therefore I will add a 'Region' columns as well.

In [60]:
# Group the data by the 'Region' column in df_2018 and aggregate the 'Country' column
countries_by_region3 = df_2018.groupby('Region')['Country'].apply(list)

# Create a mapping dictionary from country to region
country_to_region3 = {}
for region, countries in countries_by_region3.items():
    for country in countries:
        country_to_region3[country] = region

# Add additional countries and their assigned regions
additional_countries = {
    'Angola': 'Sub-Saharan Africa',
    'Macedonia': 'Central and Eastern Europe',
    'Belize': 'Latin America and Caribbean',
    'Sudan': 'Sub-Saharan Africa',
    
}
country_to_region3.update(additional_countries)

# Add the 'Region' column to df_2019 using the updated mapping
df_2019['Region'] = df_2019['Country'].map(country_to_region3)

In [63]:
# Filter the DataFrame to select rows where the 'Region' column is missing
countries_without_region = df_2019[df_2019['Region'].isnull()]['Country']

# Print the countries without a region assigned
print("Countries without a region assigned in df_2019:")
print(countries_without_region)

Countries without a region assigned in df_2019:
83     North Macedonia
119             Gambia
134          Swaziland
141            Comoros
Name: Country, dtype: object

In [64]:
# Add additional countries and their assigned regions
additional_countries = {
    'North Macedonia': 'Central and Eastern Europe',
    'Gambia': 'Sub-Saharan Africa',
    'Swaziland': 'Sub-Saharan Africa',
    'Comoros': 'Sub-Saharan Africa'
}

# Update the country_to_region3 dictionary with additional countries and their assigned regions
country_to_region3.update(additional_countries)

# Add the 'Region' column to df_2019 using the updated mapping
df_2019['Region'] = df_2019['Country'].map(country_to_region3)

In [65]:
# Filter the DataFrame to select rows where the 'Region' column is missing
countries_without_region = df_2019[df_2019['Region'].isnull()]['Country']

# Print the countries without a region assigned
print("Countries without a region assigned in df_2019:")
print(countries_without_region)

Countries without a region assigned in df_2019:
Series([], Name: Country, dtype: object)

In [66]:
df_2019.head(15)

,Happiness Rank,Country,Happiness Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Region
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,Western Europe
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,Western Europe
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,Western Europe
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,Western Europe
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,Western Europe
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343,Western Europe
6,7,Sweden,7.343,1.387,1.487,1.009,0.574,0.267,0.373,Western Europe
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380,Australia and New Zealand
8,9,Canada,7.278,1.365,1.505,1.039,0.584,0.285,0.308,North America
9,10,Austria,7.246,1.376,1.475,1.016,0.532,0.244,0.226,Western Europe
10,11,Australia,7.228,1.372,1.548,1.036,0.557,0.332,0.290,Australia and New Zealand
11,12,Costa Rica,7.167,1.034,1.441,0.963,0.558,0.144,0.093,Latin America and Caribbean
12,13,Israel,7.139,1.276,1.455,1.029,0.371,0.261,0.082,Middle East and Northern Africa
13,14,Luxembourg,7.090,1.609,1.479,1.012,0.526,0.194,0.316,Western Europe
14,15,United Kingdom,7.054,1.333,1.538,0.996,0.450,0.348,0.278,Western Europe

In [67]:
# Move the 'Region' column next to the 'Country' column
df_2019.insert(loc=df_2019.columns.get_loc('Country') + 1, column='Region', value=df_2019.pop('Region'))

# Move the 'Happiness Rank' column next to the 'Region' column
df_2019.insert(loc=df_2019.columns.get_loc('Region') + 1, column='Happiness Rank', value=df_2019.pop('Happiness Rank'))

In [68]:
df_2019.head(15)

,Country,Region,Happiness Score,Happiness Rank,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,Western Europe,7.769,1,1.340,1.587,0.986,0.596,0.153,0.393
1,Denmark,Western Europe,7.600,2,1.383,1.573,0.996,0.592,0.252,0.410
2,Norway,Western Europe,7.554,3,1.488,1.582,1.028,0.603,0.271,0.341
3,Iceland,Western Europe,7.494,4,1.380,1.624,1.026,0.591,0.354,0.118
4,Netherlands,Western Europe,7.488,5,1.396,1.522,0.999,0.557,0.322,0.298
5,Switzerland,Western Europe,7.480,6,1.452,1.526,1.052,0.572,0.263,0.343
6,Sweden,Western Europe,7.343,7,1.387,1.487,1.009,0.574,0.267,0.373
7,New Zealand,Australia and New Zealand,7.307,8,1.303,1.557,1.026,0.585,0.330,0.380
8,Canada,North America,7.278,9,1.365,1.505,1.039,0.584,0.285,0.308
9,Austria,Western Europe,7.246,10,1.376,1.475,1.016,0.532,0.244,0.226
10,Australia,Australia and New Zealand,7.228,11,1.372,1.548,1.036,0.557,0.332,0.290
11,Costa Rica,Latin America and Caribbean,7.167,12,1.034,1.441,0.963,0.558,0.144,0.093
12,Israel,Middle East and Northern Africa,7.139,13,1.276,1.455,1.029,0.371,0.261,0.082
13,Luxembourg,Western Europe,7.090,14,1.609,1.479,1.012,0.526,0.194,0.316
14,United Kingdom,Western Europe,7.054,15,1.333,1.538,0.996,0.450,0.348,0.278

In [73]:
df_2015.shape

(158, 10)

In [74]:
df_2016.shape

(157, 10)

In [75]:
df_2017.shape

(155, 10)

In [76]:
df_2018.shape

(156, 10)

In [77]:
df_2019.shape

(156, 10)